<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://imgs.search.brave.com/PFVVgv1xcbzDsOzRqTY1AddxcP2IkBhHLO8VZmnSR2A/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/NzFGd1pkR2hCc0wu/anBn" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://imgs.search.brave.com/bWsQD3tsxFnwjCYMfwUCeF9ols_PLECoFH3j7OM11Yk/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTE5/NDcwOTEyNS9waG90/by9ncm9jZXJ5LXNo/b3BwaW5nLmpwZz9z/PTYxMng2MTImdz0w/Jms9MjAmYz13aXVz/QXM4TUdNRWxmanot/YVRlYTM1dEFrZ3Uy/YTJiTENvUlZ0YmFf/cUxZPQ" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://imgs.search.brave.com/_CzE7lmLGSUwIYDvChi2h4wUJyJ7vbAcNz13K09-CFs/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvNjI2/MjI0NTUwL3Bob3Rv/L21lbi1jbG90aGlu/Zy1vbi1hLXJhY2st/Y2xvc2V1cC1waG90/by5qcGc_cz02MTJ4/NjEyJnc9MCZrPTIw/JmM9RlJ0WjgxZllR/QnFwT2FkUXAzUFlw/ZDBTY0hHZ1h1Qy1P/RGFLSmJNNE4zbz0" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
